body {
    background-color: #111111;
    margin: 0px;
}
main {
    height: auto;
}
canvas {
    background-color: #111111;
}
p {
    font-size: 18px;
}
#temp_debug_string {
    display: inline;
    color: #330000;
    position: absolute;
}
#debug_string {
    display: inline;
    color: #330000;
    position: absolute;
}